<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" href="home.css">
    <title>HOME PAGE </title>
    <style>

    </style>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="summary.html">SUMMARY </a>
          <a href="trans.html">TRANSLATE</a>
          <a href="grammar.html">GRAMMAR CHECKER</a>
        </div>
      </div>
      <a href="#about">About</a>
      <a
        href="javascript:void(0);"
        style="font-size: 15px"
        class="icon"
        onclick="myFunction()"
      >
        &#9776;
      </a>
    </div>
        

      <div class='box'>
      <div style="padding-left: 16px">    
    
      <h2 color:'blue' font-weight:'bold'>Welcome to my Textify!</h2>
      <p>A place where you can save your reading and writing time.</p>
      <p>We believe in smart learning and brisk writing.</p>
      <p>Whether you want to summarize your long articles or fix grammars and spelling mistakes we got it covered.</p>
    <p>Our site also features translation of english writing into hindi,bengali and french for helping users to have better grip of their articles.</p>
    <p>So come explore, learn something new, and be a part of our community. We're excited to have you here!</p>
      </div>
    </div>
  

      

    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
  
  </body>
</html>
